<div class="user-details">
  <div class="portrait">
    <img class="me" src="assets/img/melissa.jpg" style="max-width: 100%">
  </div>

  <div class="introduction">
    <h2>My Expertise</h2>
    <p>{{ site.user_description }}</p>
    
    
    <h2>A void to fill</h2>
    
    <p> This is my portfolio page. I have used various platforms to collaborate with coworkers, including Git, but also others. As a Software development professional, my Github profile is not the best representation of my work as a whole. I think a lot of developers feel that way, especially if they work in the private sector and are not heavily contributing to Open Source. (Software Engineers shouldn't necessarily be measured by their Github profiles!)</p>

    <p>Thus, enter the portfolio site! I decided to make this site to show others what I have really been working on and to catalog my achievements!</p>
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Front-end / Design</h2>
    <p>I feel comfortable working on the front-end or back-end with HTML5, CSS/SCSS, Bootstrap/Semantic-UI, JavaScript, jQuery, Backbone.js and TypeScript.</p>
  </div>
  <div class="tech">
    <h2>Programming Languages</h2> 
    <p>My main development languages are C++, Java and Ruby, though I have worked I have extensively with JavaScript, Go, Python, PHP, C# and more.</p>
  </div>
  <div class="tech">
    <h2>Development Tools</h2>
    <p>My specialties are Linux, Git, SVN, Node.js, Express, Npm, MongoDB, MySQL, PostgreSQL Django and Ruby on Rails.</p>
  </div>
  </div>

  <h2>Resume</h2>
  <div>
      <p>Here is a copy of my professional resume for your perusal.</p>
      <p><a href="assets/pdf/resume.pdf">pdf</a> / <a href="https://bit.ly/32ZXwGx">gdrive</a></p>
  </div>


  <h2>Currently looking for a developer role!</h2>
  <div>
    <p>As of , I'm looking for a role as a Software development and Web development so if you are hiring Software developers, please reach out to me! I am based in Seattle, WA but I am also willing to work remotely.</p>
  </div>

  <div class="public-speaking">
    <h2>Public Speaking Bibliography (updated 11-24-2019)</h2>
    <ul>
    <li>
        Open Source Summit 2019<br/>
    </li>
    <li>
        Open Source in Gaming Day 2019 - Keynote Speaker<br/>
    </li>
    <li>
        NodeconfEU 2018<br/>
    </li>
    <li>
        Write / Speak / Code 2017 Meetup ARKit for Basics<br/>
    </li>
    <li>
        Team Yakuzen - 2014<br/>
    </li>
    </ul>
  </div>

  <div class="articles">
        <h1>Articles I've Written</h1>
        <p><a href="https://medium.com/@kiyomizumia/a-brief-introduction-to-the-democratization-of-data-science-and-ai-e170c8fc108e" target=
                "_blank">A Brief Introduction to the Democratization of Data Science and Artificial Intelligence</a> - via Medium</p>
                <p>...more to come!</p>
  </div>

  <div class="work-history">
        <h1>Professional Work History:</h1>
        <strong>Full-time work experience</strong>
        <p>Here is what I have mainly worked on since graduating from CWU in 2014:</p>

        <div class="work-history">
        <img src="assets/img/career_progression.jpg" style="width: 100%;">
        
        <ul>
            <li><a href="https://housecare.tokyo/en" target=
                "_blank">HouseCare</a> <emphasis>(Remote contributor)</emphasis></li>
                Software Engineer - Worked on the landing page and about page

            <li><a href="https://girlswhocode.com/" target=
                "_blank">Girls who Code</a></li>
                Summer Immersion Program Instructor - Taught students coding using Python and Scratch

            <li><a href="http://www.sunverge.com/" target=
                "_blank">Sunverge Inc.</a></li>
                Software Engineer - Created a data aggregation tool and worked on the improvement of algorithms for mobile app

            <li><a href="https://stroly.com/en/" target=
                "_blank">Stroly Inc.</a></li>
                Software Engineer - Worked on search, mapping, cross-browser portability, responsive design with Leaflet.js, Node and TypeScript

            <li><a href="https://www.palmie.jp/" target=
                "_blank">Palmie K.K.</a> (Remote contributor)</li>
                Software Engineer - Worked on internal customer management, data visualization, UI components, payments, testing

            <li><a href="https://www.thinkful.com/" target=
                "_blank">Thinkful</a> (Remote contributor)</li>
                Bootcamp Instructor - Currently working on part-time student insutruction, grading and 1-on-1 tutoring
        </ul>
        </div>
        
        <div class="tech-other">
        <strong>Other tech jobs & ventures </strong>
        <ul>
            <li>
              <a href="https://www.studiotriome.com">Studio Triome</a><br>
              Independent Game Developer - developed my own independent game for the iPhone
            </li>
            <li>
              <a href="https://www.chronosga.com/" target=
                "_blank">Chronos VR</a><br>
                VR Evangelist - worked on evangelism for the Chronos VR development cirriculum</li>
            <li>
                <a href="https://www.tealsk12.org/" target=
                "_blank">Tealsk12</a><br>
              CS Teacher - TAed for AP Computer Science class at Auburn Riverside HS</li>
            <li><a href="https://www.harman.com/" target=
                "_blank">Samsung / Harman</a><br>
              Test Associate II - Worked on QA for Microsoft Windows 10 and Xbox Windows 10 UWP initial release, Xbox 360 and Kinect (callibration).</li>
            <li><a href="http://www.flexasoft.com/" target=
                "_blank">Flexasoft</a><br>Localization Game Tester - Localization (functional/compliance) testing for Xbox titles</li>
            <li class="li">
              <a href="https://wiki.communitydata.science/Community_Data_Science_Workshops" target="_blank">University of Washington</a><br>Assistant Teacher - Taught at the UW Dept. of Communication Community Data Science Workshops
            </li>
        </ul>
      </div>
    </div>


    <div class="professional-interests">
        <h1>Professional Interests</h1>
        <p>People often ask me about my interests during interviews, so here they are. These are the problems and challenges that I am passionate about working on:</p>
        <ul>
            <li>AR/VR</li>
            <li>Real-time rendering</li>
            <li>Gameplay Programming (esp. Graphics/Rendering Engineer)</li>
            <li>Natural language Processing / Text to Speech</li>
            <li>Firmware / Embedded Systems</li>
            <li>Data Visualization</li>
        </ul>
        <p>...and (of course) creating beautiful websites!</p>
    </div>

    <div class="additional-interests">
      <h1>Additional interests / learning</h1>

      <strong>Open Source</strong>
          <p>Contributed various PRs to Node.js, AMP and Firefox via Bugzilla. Upcoming projects I am interested incontributing to are Node (core), V8, Blender, Synfig Studio and VS Code.</p>

      <strong>AR / VR</strong>
          <p>Built a number of demos, winning Seattle VR Hackathon in 2015 with my team. I really believe powerfully in the future of XR as medium.</p>

      <strong>Game Development</strong>
          <p>Learning game development in Unity and Godot (mostly prototypes and tutorials).</p>

      <strong>Cloud</strong>
          <p>I have used AWS or GCP in all of my professional roles and as an indie developer.</p>

      <!--
      <strong>2d art and animation</strong>
          <p>I have long had a passion for animation and cute characters, especially in the "kawaii" style. This inspired me to create such a game with said cute characters about farm animals! I like producing vector artwork, animations, and voxel art (relaxing for the hands).</p>

      <strong>2d/3d modeling and rigging</strong>
          <p>I'm (slowly) learning development in 3d modeling and sculpting with Blender and hopefully soon Zbrush and Substance Painter.</p>
      -->
    </div>
</div>


